<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>青鸟注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/nomalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/createnew.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="zhezhaoceng">
        <div class="tishi">
            <p>注册成功！还有<i> 6 </i>秒到  <a href="/user/login">登录页面</a></p>
        </div>
    </div>
    <header>
        <div class="header">
            <div class="logo">
            </div>
        </div>
    </header>
    <section>
        <div class="img_box">
            <div class="save_img">
                <img src="/images/1.jpg" alt="图片" />
            </div>
            <div class="save_img">
                <img src="/images/2.jpg" alt="图片" />
            </div>
            <div class="save_img">
                <img src="/images/3.jpg" alt="图片" />
            </div>
            <div class="save_img">
                <img src="/images/4.jpg" alt="图片" />
            </div>
        </div>
    </section>
    <section>
        <div class="big_box">
            <div class="string">
                <p>欢迎注册青鸟!</p>
            </div>
            <div class="input_box">
                <div class="user_name">
                    <input type="text" placeholder="用户昵称" />
                    <span></span>
                </div>
                <p></p>
                <div class="user_id">
                    <input type="text" placeholder="用户名" />
                    <span></span>
                </div>
                <p id="p2"></p>
                <div class="user_password">
                    <input type="text" placeholder="密码" />
                    <span></span>
                    <p id="p3"></p>
                    <input type="text" placeholder="再次确认密码!" />
                    <span></span>
                </div>
                <div class="submit_user">
                    <input type="submit" value="立即注册" />
                </div>

            </div>
            <div class="footer">
                <p>Copyright © 1998-2019QingNiao All Rights Reserved</p>
            </div>
        </div>
    </section>

</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/create_new_user.js"></script>

</html>