<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>青鸟登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" media="screen" href="/css/nomalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/denglu_win.css" />
</head>

<body>
    <header>
        <div class="logo_box" title="青鸟聊天室">

        </div>
    </header>
    <section>
        <div class="box">
            <div class="denglu_win_beijing">
                <div class="img_box">
                    <img src="/images/one.jpg" title="1" />
                </div>
                <div class="img_box">
                    <img src="/images/three.jpg" title="1" />
                </div>
                <div class="img_box">
                    <img src="/images/four.jpg" title="1" />
                </div>
                <div class="img_box">
                    <img src="/images/five.jpg" title="1" />
                </div>
            </div>
            <div class="denglu_box">
                <div class="denglu_box_header">
                    <em>登录窗口</em>
                </div>
                <div class="denglu_box_input">

                    <div class="users">
                        <p></p>
                        <input type="text" placeholder="请输入账号" />
                    </div>

                    <div class="passwords">

                        <input type="password" placeholder="请输入密码" />
                        <p></p>
                    </div>
                </div>
                <div class="denglu_box_btn">
                    <input type="button" value="登录" />
                </div>
                <div class="denglu_box_footer">
                    <a href="#">立即注册！</a>
                </div>
            </div>
        </div>

    </section>
    <footer>
        <div class="footer_box">
            <div class="ul_img_box">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </footer>

</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/denglu_widnwos.js"></script>

</html>